body{
    height: 170vh;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-grow: 5;
    flex-shrink: 0;
    flex-basis: 0;
}

.header, .footer{
    flex-grow: 1;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    background-color: #1f2937;
}

.header-logo{
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

ul{
    list-style: none;
    display: flex;
    gap:30px;
}

a{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/*Commit?*/

.section-one{
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 50px;    
}

.section-one > *{
    flex-basis: 23%;
}

.main-text{
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.main-subtext{
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
    font-size: 18dpx;
    margin-bottom: 10px;
}